.App {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 background-color: rgb(198, 198, 218);
}

.friend-form{
  width: 300px;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

input{
  margin: 2px;
}
.box1{
  display: flex;
  flex-wrap: row wrap;
  
}
.friend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  /* width: 250px; */
  margin: 10px;
}
.friendContainer{
  width:500;
  height:auto;
  display:flex;
  justify-content: center;
  

}

p {
  display: flex;
  font-size: 15px;
  padding: 5px;
}